html, body {
    background-color: #000;
    font-family: sans-serif;
	padding: 0;
	margin: 0;
	width: 100vw;
}

body, div {
    position: relative;
    align-content: center;
    align-items: center;
    width: 100%;

}

div{
    overflow: hidden;
}

img{
    width: 100%;
}

h2{
    color: #686868; 
    font-size: 10px; 
    text-align: center; 
    font-weight: 400;
}

.background{
    position: absolute;
}

.container{
    position: relative;
    width: 100vw;
}


.elements{
    align-content: center;
    position: absolute;
}
#headline{
    width: 40%;
    margin: 5%;
}
#title{
    align-items: baseline;
    width: 80%;
    padding: 0 0 0vh 0;
    margin: 116% 10% 0 10%;    
}
#arrow{
    width: 10%;
    margin: 3.5% 0 0 45%;
    animation-name: blinking;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


#headline-2{
    width: 40%;
    margin: 10% 0 0 30.5%;
}
#ar-button{
    width: 120%;
    margin: 112% 0 0 -10%;

}
#ar-arrow{
    pointer-events: none;
    width: 90%;
    margin: -28% 0 0 5%;
    animation-name: blinking;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#start{
    width: 40%;
    margin: 10% 0 0 30%; 
}


@keyframes blinking{
    0%{opacity: 10%;}
    70%{opacity: 90%;}
    95%{opacity: 100%;}
    100%{opacity: 50%;}
}

@keyframes scaling{
    0%{transform: scale(1.0);}
    70%{transform: scale(1.1);}
    95%{transform: scale(1.5);}
    100%{transform: scale(1.0);}
}

footer{
    height: 5vh;
    padding-bottom: 20px;
}

@media(max-device-width: 376px){
    .background-image{
        margin: -200px 0 0 0;
    }
    #title{
        align-items: baseline;
        width: 80%;
        padding: 0 0 0vh 0;
        margin: 96% 10% 0 10%;    
    }
    #headline-2{
        width: 40%;
        margin: 19% 0 0 30.5%;
    }
    footer{
    height: 3vh;
    }
}