:root{
    --main-color: #186217;
    --snd-color: #F15A24;
}

@font-face {
  font-family: goodFont;
  src: url('https://fonts.googleapis.com/css2?family=Catamaran&family=Roboto:wght@100&display=swap');
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Catamaran';
    font-weight: 300;
    color: var(--snd-color);
    
}
.background{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    
    
}
.background img{
    min-width: 100%;
    min-height: 100%;
}


.headline{
    position: fixed;
    z-index: 11;
    background-color: white;
    padding: 0px 40px 0px 100px;
    font-weight: 800;
    font-size: 4em;
    letter-spacing: .2em;
    text-decoration-color: #186217;
}


/* Menu */

#sidebar{
    z-index: 10;
    position: fixed;
    width: 300px;
    height: 100%;
    background: #fff;
    left: -300px;
    transition: 1.4s;
    box-shadow: 10px 10px 100px;
    
}
#sidebar.active{
    left: 0;
}

#sidebar ul{
    position: fixed;
    margin-top: 25vh;
    
}

#sidebar ul li{
    list-style: none;
    color: #000;
    font-size: 20px;
    margin-top: .8em;
    padding-top: 10px;
    padding-left: 24px;
}

#sidebar a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 800; 
    color: var(--main-color);
}
#sidebar .selected a{
    color: var(--snd-color);
}
#sidebar a:hover{
    color: var(--snd-color);
    font-size: 1.2em;
    font-weight: 900; 
}


.toggle-btn{
    position: absolute;
    padding-top: 20px;
    padding-left: 330px;
    padding-right: 30px;
    padding-bottom: 24px;
    background-color: white;
    box-shadow: 10px 10px 100px;
    
}

.toggle-btn span{
    width: 45px;
    height: 4px;
    background: var(--snd-color);
    display: block;
    margin-top: 4px;
}



/* Menu */

/*
.menu{
    position: fixed;
    height: 100%;
    width: 16em;
    background-color: white;
    
}
.menu-background{
    width: 100%;
    height: 50%;
    margin-top: 30vh;
    margin-left: 3vw;
    margin-bottom: 50%;
    color: white;
    
}
.menu li{
    margin-top: 1.5em;
    
}
.menu a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600; 
    color: var(--main-color);
}
.menu #selected a{
    color: var(--snd-color);
}
.menu a:hover{
    text-decoration: underline;
    font-size: 1.2em;
    font-weight: 600; 
    color: #186217;
}
*/

.paragraphBox{
    position: absolute;
    float: none;
    bottom: 20vh;
    left: 74vw;
    width: 20em;
    height: auto;
    padding: 0px 20px 20px;
    background-color: white;
}

.paragraph{
    color: #000;
    font-weight: 500;
    line-height: 1.2
}
.paragraphLink{
    color: var(--snd-color);
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: underline;
}

.listContainer{
    position: relative;
    top: 25%;
    left: 10%;
    width: 80vw;
    height: 60vh;
}
.listElement{
    position: relative;
    float: left;
    height: 100%;
    width: 20%;
    padding: 2.5%;
}
.eselImage{
    overflow: hidden;
    width: 16vw;
    height: 16vw;
    margin-bottom: 2em; 
    background-color: black;
}
.eselImageSmall{
    overflow: hidden;
    width: 16vw;
    height: 6vw;
    margin-bottom: 2em;
    opacity: .8;
}
.eselImageGallery{
    overflow: hidden;
    width: 16vw;
    height: 16vw;
    margin-bottom: 2em;
    opacity: .8;
    top: 0;
}
.listElement img{
    position: relative;
    top: -30%;
    width: 100%;
    height: auto;
}
h3{
    position: relative;
    padding: 0;
    margin: 0;
    top: -70%;
    left: -7%;
    font-size: 5em;
    letter-spacing: .2em;
}
.h3Small{
    top: -42%;
}
.listParagraph{
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.2
}
.listParagraphLink{
    font-size: 1.2em;
    font-weight: 900;
}

.listContainerCalendar{
    position: relative;
    top: 25%;
    left: 10%;
    width: 80vw;
    height: 60vh;
}
.listElementCalendar{
    position: relative;
    float: left;
    height: 100%;
    width: 20%;
    padding: 2.5%;
}
.calendarImage{
    overflow: hidden;
    margin-bottom: 4em; 
    background-color: black;
}
.continueBox{
    position: absolute;
    float: none;
    width: 10vw;
    height: auto;
    left: 84vw;
    top: ;
    bottom: -90vh;
    padding: 5px 20px 0px;
    background-color: var(--snd-color);
    bottom: ;
}
.continueParagraph{
    color: #fff;
    font-weight: 600;
    line-height: 0em;
    font-size: 1.9em;
    letter-spacing: 4;
}
.bookingColumn{
    float: left;
    height: 80vh;
    width: 100vw;
}
.listContainerBooking{
    float: left;
    position: relative;
    top: 20%;
    left: 10%;
    width: 30vw;
    height: 60vh;    
}
.listContainerBooking2{
    float: left;
    position: relative;
    top: 20%;
    left: 30%;
    width: 15vw;
    height: 60vh;    
}
.listElementBooking{
    position: relative;
    float: left;
    height: 30%;
    width: 80%;
    padding: 2.5% 2.5% 2.5% 9%;
    margin: 2%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
.h3Booking{
    top: -100%;
    left: -4%
}