:root{
    --main-color: #186217;
    --snd-color: #F15A24;
}

@font-face {
  font-family: goodFont;
  src: url('https://fonts.googleapis.com/css2?family=Catamaran&family=Roboto:wght@100&display=swap');
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Catamaran';
    font-weight: 300;
    color: var(--snd-color);
    
}
.background{
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: aqua;
    
    
}

.background img{

    min-width: 100%;
    min-height: 100%;
    

}


.headline{
    position: absolute;
    z-index: 11;
    background-color: white;
    padding: 0px 40px 0px 100px;
    font-weight: 800;
    font-size: 4em;
    letter-spacing: .2em;
    text-decoration-color: #186217;
}


/* Menu */

#sidebar{
    position: absolute;
    width: 300px;
    height: 100%;
    background: #fff;
    left: -300px;
    transition: .4s;
    box-shadow: 10px 10px 100px;
    
}
#sidebar.active{
    left: 0;
}

#sidebar ul{
    position: fixed;
    margin-top: 25vh;
    
}

#sidebar ul li{
    list-style: none;
    color: #000;
    font-size: 20px;
    margin-top: .8em;
    padding-top: 10px;
    padding-left: 24px;
}

#sidebar a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600; 
    color: var(--main-color);
}
#sidebar #selected a{
    color: var(--snd-color);
}
#sidebar a:hover{
    text-decoration: underline;
    font-size: 1.2em;
    font-weight: 600; 
    color: #186217;
}


.toggle-btn{
    position: absolute;
    padding-top: 20px;
    padding-left: 330px;
    padding-right: 30px;
    height: 5vh;
    background-color: white;
    box-shadow: 10px 10px 100px;
    
}

.toggle-btn span{
    width: 45px;
    height: 4px;
    background: var(--snd-color);
    display: block;
    margin-top: 4px;
}



/* Menu */

/*
.menu{
    position: fixed;
    height: 100%;
    width: 16em;
    background-color: white;
    
}
.menu-background{
    width: 100%;
    height: 50%;
    margin-top: 30vh;
    margin-left: 3vw;
    margin-bottom: 50%;
    color: white;
    
}
.menu li{
    margin-top: 1.5em;
    
}
.menu a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600; 
    color: var(--main-color);
}
.menu #selected a{
    color: var(--snd-color);
}
.menu a:hover{
    text-decoration: underline;
    font-size: 1.2em;
    font-weight: 600; 
    color: #186217;
}
*/

.paragraphBox{
    position: absolute;
    float: none;
    bottom: 20vh;
    left: 74vw;
    width: 20em;
    height: auto;
    padding: 0px 20px 20px;
    background-color: white;
}

.paragraph{
    color: #000;
    font-weight: 500;
    line-height: 1.2
}
.paragraphLink{
    color: var(--snd-color);
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: underline;
}